div {
    font-family: sans-serif;
}
.chart {
    margin: 10px 10px 10px 10px
}
div.graph_title {
    color: #19384d;
    font-size: 30px;
    margin: 0px 0px 20px 0px
}

h1{
    color: #19384d;
    font-size: 30px;
    margin: 0px 0px 20px 0px
}

table#header{
    width: 100%
}
div.graph_caption{
    font-size: small;
    text-align: left;
    margin: 30px 10px 10px 10px
}

a{
    color: #337099;
}

.disclaimer {
    font-size: x-small;
}

.DetailedDataGrid md-grid-list md-grid-tile figure{
  height: 120%;
}

.DetailedDataGrid md-grid-list{
    margin: 8px;
}
.DetailedDataGrid .green {
  background: #b9f6ca; }

.DetailedDataGrid .gray {
  background: #f5f5f5; }

.DetailedDataGrid h3{
    font-weight: bold
}

.DetailedDataGrid .rentedNumber{
    font-size: 40px;
    text-align: center;
}

.DetailedDataGrid .yellow {
  background: #ffff8d; }

.DetailedDataGrid .blue {
  background: #337099; 
  color: white
  }

.DetailedDataGrid .purple {
  background: #f5f5f5; }

.DetailedDataGrid .red {
  background: #ff8a80; }

.DetailedDataGrid md-grid-tile {
  transition: all 400ms ease-out 50ms; }


