div {
    font-family: sans-serif;
}
.chart {
    margin: 10px 10px 10px 10px
}

#logo {
    margin-right:5px;
    margin-left:-5px;
}

table#header{
    width: 100%
}
div.graph_caption{
    font-size: small;
    text-align: left;
    margin: 50px 10px 10px 10px
}

a{
    color: #337099;
}

.disclaimer {
    font-size: x-small;
}

.DetailedDataGrid md-grid-list md-grid-tile figure{
  height: 120%;
}

.DetailedDataGrid md-grid-list{
    margin: 8px;
}

.DetailedDataGrid .rentedNumber{
    font-size: 1.8em;
    text-align: center;
    padding-top: 0.3em;
}

.DetailedDataGrid .blue {
  background: #337099; 
  color: white
}


.DetailedDataGrid md-grid-tile {
  transition: all 400ms ease-out 50ms;
}


.header {
    font-weight: bold;
    font-size: 1em;
    margin-left: 0.6em
}

.subheader {
    font-size: 0.7em;
    margin-left: 0.8em
}

.DetailedDataGrid{
    font-size: 1em
}


div.weather{
    width: 100%;
    text-align: right;
    margin-bottom: -1.3em;
    margin-top: 0em;
}

div.weather .weatherIcon{
    font-size: 1.5em;
    margin-right: 0.5em;
}

div.gridContent{
    margin: 0px;
    padding: 0px;
    width: 100%;
}

div.gridContent table{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: auto;
    margin-left: auto;
    padding: 0px;
}

div.weather .temperature{
    font-size: 0.8em;
    margin-right: 0.2em;
}

table.todayTable {
    margin:auto;
}